.follower img {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
  }
  .followers-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
    max-width: 90%;
    display: flex;
    margin: auto;
    margin-top: 30px;
  }
  .follower {
    display: flex;
    flex-wrap: wrap;
    width: 130px;
    justify-content: center;
    margin-right: 10px;
  }
  